@model GameDevAgency.Models.GameDto

@{
    ViewBag.Title = "Game Details";
}

<a href="/Game/List" class="btn btn-secondary">Back To Games</a>
<hr />
<div class="d-flex align-items-center gap-2">
    <h2>Game Details</h2>
    <div class="d-flex align-items-center gap-4 ms-auto">
        <a href="/Game/Edit/@Model.GameId" class="btn btn-success">Edit</a>
        <a href="/Game/ConfirmDelete/@Model.GameId" class="btn btn-danger">Delete</a>
    </div>
</div>

<p class="text-dark">Game Name: <span class="fw-bold">@Model.GameName</span></p>
<p class="text-dark">Game Description: <span class="fw-bold">@Model.GameDescription</span></p>
<p class="text-dark">Game Version: <span class="fw-bold">@Model.GameVersion</span></p>
<p class="text-dark">Release Date: <span class="fw-bold">@Model.GameReleaseDate</span></p>

<h3>Tasks for @Model.GameName</h3>
<hr />

<p>List of tasks will come here</p>