@model GameDevAgency.Models.GameDto
@{
    ViewBag.Title = "Edit Game";
}

<h2>Edit Game</h2>

<form action="/Game/Update/@Model.GameId" method="POST">
    <input type="hidden" name="GameId" value="@Model.GameId" />
    <div class="mb-3">
        <label for="GameName" class="form-label">Game Name</label>
        <input autocomplete="off" required value="@Model.GameName" type="text" class="form-control" id="GameName" name="GameName" placeholder="Enter game name here" aria-describedby="Name of the game">
    </div>
    <div class="mb-3">
        <label for="GameDescription" class="form-label">Game Description</label>
<textarea autocomplete="off" required class="form-control" id="GameDescription" name="GameDescription" placeholder="Write two lines about the game" rows="3">@Model.GameDescription</textarea>
    </div>
    <div class="mb-3">
        <label for="GameVersion" class="form-label">Game Version</label>
        <input autocomplete="off" required value="@Model.GameVersion" type="text" class="form-control" id="GameVersion" name="GameVersion" placeholder="Enter game version here e.g v1" aria-describedby="Version of the game">
    </div>
    <div class="mb-3">
        <label for="GameReleaseDate" class="form-label">Release Date</label>
        <input autocomplete="off" required value="@ViewData["ReleaseDate"]" type="date" class="form-control" id="GameReleaseDate" name="GameReleaseDate" placeholder="YYYY-MM-DD">
    </div>
    <div class="d-flex align-items-center gap-4">
        <a href="/Game/List" class="btn btn-outline-dark">Cancel</a>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>