﻿@model GameDevAgency.Models.ViewModels.DetailsActivity
@{
    ViewBag.Title = "Activity Details";
}

<a href="/Activity/List" class="btn btn-secondary">Back To Activities</a>
<hr />
<div class="d-flex align-items-center gap-2">
    <h2>Activity Details</h2>
    @if (Model.IsAdmin)
    {
        <div class="d-flex align-items-center gap-4 ms-auto">
            <a href="/Activity/Edit/@Model.Activity.ActivityId" class="btn btn-success">Edit</a>
            <a href="/Activity/ConfirmDelete/@Model.Activity.ActivityId" class="btn btn-danger">Delete</a>
        </div>
    }
</div>

<p class="text-dark">Activity Name: <span class="fw-bold">@Model.Activity.ActivityName</span></p>
<p class="text-dark">Activity Description: <span class="fw-bold">@Model.Activity.ActivityDescription</span></p>
<p class="text-dark">Activity Due Date: <span class="fw-bold">@Model.Activity.ActivityDueDate</span></p>
<p class="text-dark">Assigned To : <span class="fw-bold"><a href="/Account/Details/@Model.Activity.UserId">@Model.Activity.FirstName @Model.Activity.LastName</a></span></p>
<p class="text-dark">Project : <span class="fw-bold"><a href="/Game/Details/@Model.Activity.GameId">@Model.Activity.GameName</a></span></p>
<p class="text-dark">Status : <span class="fw-bold">@Model.Activity.ActivityStatus</span></p>
<p class="text-dark">Priority : <span class="fw-bold">@Model.Activity.ActivityPriority</span></p>
<p class="text-dark">Estimates: <span class="fw-bold">@Model.Activity.ActivityEstimates Hours</span></p>